#bidones {
    position: absolute;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
    z-index: -20;
    height:100%;
    width:100%;
    background-image: linear-gradient(rgb(172, 213, 164), rgb(60, 1, 55));
}

#scene {
    margin-left: 300px;
    width: fit-content;
    height: fit-content;
}

#cont1{
    position: absolute;
    height: 0px;
    top: 1280px;
    left: 480px;
    z-index: -10;
    background-color: #b7b7ffcf;
    background-blend-mode: multiply;
    width: 560px;   
}

#cont2{
    position: absolute;
    height: 0px;
    top: 1280px;
    left: 1140px;
    z-index: -10;
    background-color: #5cdd35cf;
    background-blend-mode: multiply;
    width: 560px;   
}


#titAgua{
    position: absolute;
    top: 350px;
    left: 700px;
}
#titAceite{
    position: absolute;
    top: 350px;
    left: 1400px;
}

#panel{
    position: absolute;
    width: 400px;
    background-color: beige;
    border-width: thick;
    height: 400px;
}

#start{
    font-size: 3em;
}

#alarma {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 150px;
    background-image: url(alarmaoff.png);
    background-position: center center;
    background-size: cover;
}